.texto{
    display: flex;
    position: relative;
    background-color: red;
    font-size: 11px;
    padding: 2px;
    color:white;
    width: 8px;
    height: 8px;
    left: 315px;
    top: -40px;
    align-items: center;
    border-radius: 50px;
}

